# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1- Python.  
2- R.  
3- SQL.  
4- Julia.

Some of the commonly used libraries used by Data Scientists include:  
SciPy  
NumPy  
Pandas  
Matplotlib  
Scikit-learn  
TensorFlow

|Data Science Tools:| 
|---|
|Jupyter Notebook|  
|RStudio|  
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [27]:

# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [29]:

# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author

Mohamed Belhaj